body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f9eeff;

}

#topBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Adjust height as necessary */
    z-index: -1; /* Push it behind other elements */
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
    background-color: white;
    /*margin: 20px;*/
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;

}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.qna {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.question {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between
}

.question a:hover {
    color: #ad28eb;
}

.answer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    z-index: 1;
}

.answer.show {
    height: auto;
    opacity: 60%;
} @media (max-width: 320px) {
    body {
        height: 80%;
        padding: 10px; 
    }

    .parent {
        max-width: 100%;
        padding: 10px;
    }

    .header {
        gap: 0.5rem;  /* Reduce the gap between header items */
    }


    .qna {
        padding: 5px;
    }

    .answer {
        font-size: 12px;  /* Reduce font size for smaller screens */
    }

}